<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="left" md-is-open="vm.sidenavOpen">
    <section class="panel login">
        <form name="myForm" novalidate>
            <div class="textintro">
                <h1>Доброго дня!</h1>
                <p>Увійдіть для отримання доступу до додаткових можливостей</p>
            </div>

            <fieldset>
                <input type="email" name="email" placeholder="Email"/>
                <input type="password" name="password" placeholder="Пароль"/>
            </fieldset>

            <button type="submit" class="btn">Увійти</button>
            <p>або <a href="#classifieds/register">зареєструватись</a></p>
        </form>
    </section>
</md-sidenav>