<nav class="navbar navbar-default">
    <div class="navbar-header pull-left">
        <h1 class="navbar-brand">Оголошення</h1>
    </div>
    <ul class="navbar navbar-nav">
        <button type="button" class="btn btn-default navbar-btn" ng-click="vm.openSidebar()">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Новий Товар
        </button>
        <button type="button" class="btn btn-default navbar-btn" ng-click="showFilters = true">
            <span class="glyphicon glyphicon-search"></span>
            Фільтр
        </button>
    <a href="#/classifieds/register" class="btn btn-default navbar-btn">Реєстрація</a>
    <a href="#/classifieds/login" class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-log-in"></span>
        Увійти</a>
    </ul>
</nav>

<div class="filters well form-inline clearfix" ng-show="showFilters">

    <div class="form-group">
        <label for="search"></label>
        <input type="text" class="form-control" id="search" ng-model="classifiedsFilter" autofocus placeholder="Введіть ключове слово"/>
    </div>

    <div class="form-group">
        <label for="category">Категорія</label>
        <select name="category" class="form-control" id="category" ng-model="category">
            <option ng-repeat="category in vm.categories" value="{{ category }}">
                {{ category }}
            </option>
        </select>
    </div>

    <div class="form-group">
        <button class="btn btn-warning" ng-click="classifiedsFilter = ''; category = ''">Очистити</button>
    </div>

</div> <!--filters-->

<ui-view></ui-view>

<div class="container">
    <classified-card classifieds="vm.classifieds"
                     classifieds-filter="classifiedsFilter"
                     category="category">

    </classified-card>
</div>